<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <link rel="stylesheet" href="/theme/css/styles.css" type="text/css" />
        <link rel="stylesheet" href="/theme/css/pygment_trac.css" type="text/css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="theme/javascripts/respond.js"></script>

        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        {% endif %}
        {% if FEED_ALL_RSS %}
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        <!--[if lt IE 8]>
            <link rel="stylesheet" href="theme/css/ie.css">
        <![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
</head>

<body>
    <p>base.html</p>
    <div id="header">
        <nav>
            <ul>
                {% for title, link in MENUITEMS %}
                  <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                  <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                  <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="wrapper">
        <section>
            <div id="title">
                <h1><a href="{{ SITEURL }}/">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
            </div>
            {% block content %}
            {% endblock %}
        </section>
    </div>
</body>
</html>
