{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
<h2>What?</h2>
<p>
    The idea behind #hangops is that a lot of ops folks (and others) are
    working remotely these days and so #hangops is meant to be a chance
    to grab a coffee, beer, etc and hang out (virtually)
</p><p>
    You can now follow <a href="https://twitter.com/hangops">hangops on Twitter!</a>
</p>
<h2>When?</h2>
<p>
    #hangops happens every Friday at 11AM Pacific in a Google Hangout. 
</p><p>
    Usually <a href="http://www.twitter.com/solarce/">@solarce</a> or 
    <a href="http://www.twitter.com/jordansissel">@jordansissel</a> will
    post the Hangout URL shortly before the event.
</p>
<h2>Topics?</h2>
<p>
    The topics can be something you're working, something you're curious about, or whatever.
</p><p>
    If you want to request a topic for a specific week, please 
    <a href="https://github.com/solarce/hangops.github.com/issues">submit an issue</a> 
    with your idea/topic/etc.
</p>
{% if articles %}
    {% for article in articles_page.object_list %}        

        {# First item #}
        {% if loop.first and not articles_page.has_previous() %}
            <article>
                <h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1> 
                {{ article.content }}
                {% include 'article_infos.html' %}
                {% include 'comments.html' %}
            </article>
            {% if loop.length == 1 %}
                {% include 'pagination.html' %}
            {% endif %}
            {% if loop.length > 1 %}
                <section id="content" class="body">
                    <h1>Other articles</h1>
                    <hr />
                    <ol id="posts-list" class="hfeed">
            {% endif %}
        {# other items #}
        {% else %} 
            {% if loop.first and articles_page.has_previous %}
                <section id="content" class="body">
                    <ol id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
            {% endif %}
            <li><article class="hentry">    
                <header>
                    <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
                           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h1>
                </header>
                
                <div class="entry-content">
                {{ article.summary }}
                {% include 'article_infos.html' %}
                <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
                {% include 'comments.html' %}
                </div><!-- /.entry-content -->
            </article></li>
        {% endif %}
        {% if loop.last %}
            </ol><!-- /#posts-list -->
            {% if loop.last and (articles_page.has_previous() 
            or not articles_page.has_previous() and loop.length > 1) %}
                {% include 'pagination.html' %}
            {% endif %}
            </section><!-- /#content -->
        {% endif %}
    {% endfor %}
{% else %}
<section id="content" class="body">    
<h2>Pages</h2>
    {% for page in PAGES %}
        <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
</section>
{% endif %}
{% endblock content %}
